<div>
  <label class="mb-2 block text-slate-700" :for="$id('field')">
    <div
      class="flex "
      :class="{
          'flex-row justify-between items-center': !inline,
          'flex-col': inline,
        }"
    >
      <div class="flex items-center justify-items-center text-xs">
        <span x-show="!hideLabel" x-transition class="text-xs font-bold text-slate-500">
          Label for <span x-text="i"></span>
          <span x-text="fieldType"></span>
          <!-- <span x-text="col"></span>
              <span x-text="span"></span> -->
        </span>
      </div>
    </div>
  </label>
  <p class="mt-2 rounded bg-red-50 p-2 text-xs italic text-red-500" x-show="col < span && inline">span is bigger than columns</p>
</div>
